body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.chat-container {
    position: absolute;
    top: 10%; /* Adjusts vertical positioning from the top */
    left: 50%; /* Centers container horizontally */
    transform: translate(-50%, 0); /* Shifts container back 50% of its width */
    width: 40%; /* Relative width to the viewport, adjust as needed */
    height: 80vh; /* 80% of the viewport height, adjust based on your preference */
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Adds subtle shadow for better aesthetics */
}


#chatbox {
    overflow-y: auto;
    margin-bottom: 10px;
    flex: 1 1 auto; /* Takes up all available space */
}

textarea#textInput {
    width: calc(100% - 20px); /* Adjust width to accommodate padding */
    height: 50px; /* Fixed height for text area */
    margin: 0 10px; /* Margin for positioning */
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    resize: none; /* Prevent resizing of textarea */
}

#buttonInput {
    position: absolute;
    bottom: 15px; /* Aligns with the bottom of the text area */
    right: -50px; /* Position slightly outside the right boundary */
    width: 40px;
    height: 40px;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.feather-send {
    width: 24px;
    height: 24px;
}



.botText, .userText {
    margin: 0 0 5px 0;
    padding: 10px;
    border-radius: 10px;
}
.botText {
    background-color: #eee;
}
.userText {
    background-color: #0084ff;
    color: white;
    align-self: flex-end;
}
.botText span, .userText span {
    display: inline-block;
}


@media (max-width: 768px) {
    .chat-container {
        width: 90%; /* Takes more width on smaller screens */
        height: 90vh; /* More vertical space used */
        top: 5%; /* Closer to the top */
        left: 50%;
        transform: translate(-50%, 0);
    }

    #buttonInput {
        right: 10px; /* Adjust to fit within smaller viewport widths */
    }
}